# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
*.old
*~
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.orig
*.rej
*.sublime-*
Thumbs.db
ehthumbs.db
Desktop.ini

# Custom folders
/output/
/temp_code/
/code_build/
crashlytics/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build folders
/android/app/debug
/android/app/profile
/android/app/release

# Output files
*.apk
*.aab
